.login {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
}

.control {
  margin-bottom: 1rem;
  text-align: left;
}

.control label {
  display: block;
  color: #505050;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.control input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

.control input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

.control.invalid label {
  color: #b40e0e;
}

.control.invalid input {
  border-color: #b40e0e;
  background: #fddddd;
}

.actions {
  text-align: center;
}
