.button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.button:hover,
.button:active {
  background: #510674;
  border-color: #510674;
}

.button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.button.alternative:hover,
.button.alternative:active {
  background-color: #ddb3f8;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  background: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}
